.details-container {
    height: 100%;
    background-color: #fff;
}

.details-image--container {
    width: 100%;
    height: 360px;
    position: relative;
}

.background-image {
    width: 100%;
    height: 450px;
    /* border-radius: 0% 0% 50% 50% / 0% 0% 32% 32%; */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 80%, 84% 95%, 50% 100%, 16% 95%, 0 80%, 0% 35%, 0 0); */
    aspect-ratio: 3/2;
    clip-path: ellipse(90% 100% at 50% 0%);
    position: absolute;
    top: 0;
    transform: translateY(-20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-icon--background {
    width: 45%;
}

.details-pokemon-image {
    position: absolute;
    z-index: 1;
    width: 50%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(40px);
}

.details-text--container {
    padding: 1em;
    margin-top: 18px;
}

.details-name {
    font-weight: 500;
    font-size: 2em;
}

.details-id {
    font-size: 1em;
}

.details-types--container {
    display: flex;
    gap: .5em;
    margin-top: 24px;
}

.details-type--item {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .2em .5em .2em .2em;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.details-type-icon--container {
    background-color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-stats--container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.25em;
    padding: 1em;
    user-select: none;
}

.stats-item-title {
    font-size: .75em;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: var(--clr-grey);
}

.icon {
    font-size: 1em;
    font-weight: 500;
}

.stats-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    border: 1px solid var(--clr-light-grey);
    width: 154px;
    height: 43px;
    border-radius: 15px;
}

.play {
    font-size: 2em;
    cursor: pointer;
}

.arrow-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1em;
    user-select: none;
}

.arrow {
    font-size: 1.5em;
    background-color: #ffffff59;
    border-radius: 100%;
    color: #fff;
    padding: .5em .3em .5em .7em;
    cursor: pointer;
}

.details-description--container {
    padding: 1em;
}

.description-text {
    font-size: 1.25em;
    font-weight: 500;
}

.favorite-container {
    position: absolute;
    z-index: 10;
    top: 16px;
    right: 16px;
    padding: .75em .5em .25em .5em;
    user-select: none;
    background-color: #ffffff59;
    border-radius: 100%;
}

.favorite-icon {
    width: 30px;
    cursor: pointer;
}

.weaknesses-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1em;
    margin-bottom: 2em;
}

.weaknesses-item {
    display: flex;
    width: 150px;
    padding: .2em;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: #fff;
    border-radius: 20px;
}

.weaknesses-name {
    font-size: .9em;
    font-weight: 700;
}

.evolution-list {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.evolution-list--container {
    border: 1px solid var(--clr-light-grey);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.evolution-card {
    height: 106px;
    display: flex;
    width: 100%;
    border-radius: 90px;
    border: 1px solid var(--clr-light-grey);
    user-select: none;
}

.evolution-image--container {
    width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
}

.evolution-image {
    width: 50px;
    position: static;
    z-index: 10;
}

.evolution-type-background-image {
    width: 70px;
    position: absolute;
}

.evolution-text-container {
    display: grid;
    grid-template-areas:
        'text'
        'id'
        'type'
    ;
    padding: 0 2.5em 0 1.5em;
    width: 100%;
}

.evolution-name {
    grid-area: text;
    font-size: 1em;
    color: var(--clr-grey);
    font-weight: 500;
}

.evolution-id {
    grid-area: id;
    font-size: .75em;
    font-weight: 700;
    color: var(--clr-grey);
}

.evolution-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.evolution-type {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em;
    border-radius: 20px;
}

.evolution-type-icon--container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.evolution-title,
.weaknesses-title,
.stats-title {
    font-weight: 700;
    color: var(--clr-grey);
}