:root {
    --font-family: "Poppins";

    --clr-grey: #4D4D4D;
    --clr-light-grey: #cecece;
    --clr-dark-blue: #000029;
    --clr-off-white: #EDF6EC;

    --clr-water: #5090D6;
    --clr-fighting: #CE416B;
    --clr-dragon: #0B6DC3;
    --clr-steel: #5A8EA2;
    --clr-electric: #F4D23C;
    --clr-normal: #919AA2;
    --clr-fairy: #EC8FE6;
    --clr-dark: #5A5465;
    --clr-ghost: #5269AD;
    --clr-rock: #C5B78C;
    --clr-fire: #FF9D55;
    --clr-psychic: #FA7179;
    --clr-ice: #73CEC0;
    --clr-ground: #D97845;
    --clr-grass: #63BC5A;
    --clr-poison: #B567CE;
    --clr-bug: #91C12F;
    --clr-flying: #89AAE3;

    --clr-water-light: #b2d3f7;
    --clr-fighting-light: #f3ccd7;
    --clr-dragon-light: #adcae4;
    --clr-steel-light: #bce3f3;
    --clr-electric-light: #eee7c8;
    --clr-normal-light: #c7d5e0;
    --clr-fairy-light: #f0cfee;
    --clr-dark-light: #bfb4d3;
    --clr-ghost-light: #c3cff1;
    --clr-rock-light: #f3e8c6;
    --clr-fire-light: #f0d7c6;
    --clr-psychic-light: #f3c5c8;
    --clr-ice-light: #d2f5f0;
    --clr-ground-light: #ecd3c6;
    --clr-grass-light: #daeed8;
    --clr-poison-light: #e9dcee;
    --clr-bug-light: #e5f0d1;
    --clr-flying-light: #cad8f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--clr-dark-blue);
    display: grid;
    grid-template-columns: 1fr min(50ch, 100%) 1fr;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body>* {
    grid-column: 2;
}

::-webkit-scrollbar {
    width: 0px;
}